.mainpage-column {
    width: 23.5%;
    height: 85%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

    @media screen and(max-width: 529px) {
        width: 75%;
        border-radius: 15px;
        margin: 10px;
    }

    @media screen and(max-width: 529px) {
        height: fit-content;
        overflow-y: hidden;
    }

    .column-head {
        border-radius: 15px 15px 0 0;
        display: flex;
        align-items: center;
        background-color: rgb(243, 241, 241);
        box-shadow: 0 1px 0 lightgray;

        .btn {
            display: none;
            margin-right: 15px;
            height: 55%;

            @media screen and(max-width: 529px) {
                display: block;
            }
        }
    }

    @media screen and(max-width: 529px) {
        width: 75%;
        margin: 10px;
    }

    @media screen and(max-width: 425px) {
        width: 85%;
        margin: 10px;
    }

    h3 {
        margin: 1rem auto;
    }
}

.tasks {
    border-radius: 0 0 15px 15px;

    @media screen and(max-width: 529px) {
        display: none;
    }

    @media screen and(min-width: 530px) {
        height: 75vh;
        overflow-y: scroll;
    }
}

.expanded {
    display: block;
    --heightA: fit-content;
    height: calc(var(--heightA) + 75px);
    min-height: 70px;
    max-height: 420px;
    overflow-y: scroll;

    @media screen and(min-width: 530px) {
        height: 75vh;
        max-height: none;
        overflow-y: scroll;
    }
}